

.dashboard {
    width: 100%;
}

.calendar-and-card-container {
    display: flex;
    width: 100%;
}

.calendar-container {
    width: 70%;
    padding: 20px;
}

.card-container {
    width: 30%;
    padding: 20px;
}

.card-container-top {
    height: 50%
}

.card-container-bottom {
    height: 50%
}