

.footer-component {
    width: 100%;
    background-color: #000000;
    height: 200px;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0px 15%;
    padding: 35px 0px;
}

.footer-title-text-bold{
    color: #ffffff;
    font-weight: 700;
    font-size: 25px;
}

.footer-title-text-light{
    color: #ffffff;
    font-weight: 300;
    font-size: 25px;
}

.footer-subtitle-text{
    color: #ffffff;
}

.footer-text {
    color: #ffffff;
}

.footer-center-left {
    display: flex;
    justify-content: center;
}

.footer-center-right {
    display: flex;
    /* justify-content: center; */
}

.follow-us-text {
    color: #ffffff;
    font-weight: 700;
    font-size: 25px;
}

.footer-left {

}


.footer-left:hover {
    cursor: pointer;
}

.icon-row {
    margin-top: 10px;
    display: flex;
}

.ic {
    color: #ffffff;
}

.footer-icon {
    color: #ffffff;
    font-size: 30px;
    margin-right: 10px
}

.footer-icon:hover {
    cursor: pointer;
}