




.layout-header {
    width: 100%;
    /* border-bottom: 1px solid #dfdfdf; */
    height: var(--layout-header-height);
    background-color: #000000;
    display: flex;
}
 
.layout-header-cell {
    width: 100%;
    align-items: center;
    align-content: center;
}

.layout-header-left {
    display: flex;
    justify-content: start;
}

.layout-header-left-wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.layout-header-left-wrapper:hover {
    cursor: pointer;
}

.header-left-title-text {
    color: #ffffff;
    font-size: 25px;
}

.header-left-subtitle-text {
    color: #ffffff;
    font-size: 12px;
}

.header-left-title-bold {
    font-weight: 700
}

.header-left-title-light {
    font-weight: 300
}