



.signup-component {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: #1a1a1a;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.signup-content-title-wrapper {
    display: flex;
    justify-content: center;
}

.signup-content-title {
    color: #ffffff;
    margin: 10px 0px
}

.signup-field {
    border-radius: 0px;
    margin: 10px 0px;
    min-width: 300px;
}

.signup-password-field {
    border-radius: 0px;
    margin-top: 10px
}

.signup-btn-container {
    display: flex;
    justify-content: center;
    margin-top: 30px
}

.signup-btn {
    background-color: var(--primary-red);
    border-radius: 0;
    border: none;
    color: #ffffff;
    transition: box-shadow 0.3s ease, background-color 0.3s ease; 
}

.signup-btn:hover {
    background-color: var(--secondary-red);
    color: #ffffff !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.terms-text {
    color: #ffffff;
    font-size: 10px;
}

.signup-form {
    all: unset !important;
}

.signup-form-item {
    margin: 0
}