


.about-component {
    width: 100%;
    height: 100vh;
}

.about-component-content-wrapper {
    display: flex;
    justify-content: center;
}

.about-component-content {
    max-width: 1000px !important;
    width: 1000px !important;
    height: 100%;
}

.top-banner-wrapper {
    width: 100%;
}

.top-banner {
    background-color: #dfdfdf;
    min-height: 150px;
    margin: 30px 0px;
    padding-bottom: 30px;
    padding-top: 10px;
}

.about-title {
    font-size: 30px;
}

.about-title-wrapper {
    padding: 10px 40px;
}

.about-us-description-txt {
    color: #000000;
}

.about-description-wrapper {
    padding: 10px 40px;
}

.our-approach-title {
    font-size: 30px;
}

.approach-row {
    width: 100%;
    display: flex;
    height: 300px;
}

.approach-row-text-left {
    width: 100%;
}

.approach-row-image-right {
    background-color: #dfdfdf;
    width: 100%;
}

.approach-row-top-text-container {
    margin-bottom: 20px;
}


.approach-row-top-text {
    color: #727272;
    font-weight: 700;
}

.approach-row-mid-text-container {
    width: 70%;
    max-width: 70%;
    margin-bottom: 20px;
}

.approach-row-mid-text {
    font-weight: 700;
    font-size: 25px;
}

.approach-row-bottom-text-container {
    width: 90%
}

.appr-space {
    height: 50px
}

.approach-row-image-left {
    background-color: #dfdfdf;
    width: 100%;
}

.approach-row-text-right {
    width: 100%;
}

.approach-row-text-right-container {
    padding-left: 20px;
    padding-top: 20px;
}

.approach-row-text-left-container {
    padding-top: 20px;
}

.spce-btm {
    height: 200px
}